<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script defer src="{{ url_for('static', filename='orders.js') }}"></script>
</head>
<body>
    <div class="container" id="orders-container"></div>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
