<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Analyzer</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h2>Обрахунок ATR</h2>
        <form method="post">
            <input type="text" name="coin" placeholder="Введіть назву монети" required>
            <button type="submit">Отримати результат</button>
        </form>
        {% if result %}
            <p class="result"><span class="label">Результат:</span> {{ result }}</p>
        {% else %}
            <p class="result"><span class="label">Результат:</span></p>
        {% endif %}
    </div>

    <!-- Додатковий блок для майбутньої інформації -->
    <div class="info-container">
        <h2>TOP-10 ATR </h2>
        <div class="info-content" id="info-content">
            <p>Натисніть кнопку, щоб отримати топ 10 монет...</p>
        </div>
        <div id="loading" class="hidden">Завантаження... <span id="timer">0</span> сек</div>
        <button id="fetch-data">Отримати топ 10</button>
    </div>
</body>
</html>
